# Ignore arquivos e pastas específicos do Front-end (React, Angular, Vue, etc.)
/frontend/node_modules
/frontend/.cache
/frontend/.env
/frontend/build
/frontend/dist

# Ignore arquivos e pastas específicos do Back-end (Node.js, Django, Rails, etc.)
/backend/node_modules
/backend/.env
/backend/build
/backend/dist

# Outros arquivos e pastas comuns
/.vscode
/.idea
/.DS_Store

# Arquivos de logs e cache
*.log
.cache